#frontpage, #themes {
    float: left;
    margin-right: 2em;
}

.location {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 2em;
}

label {
    display: block;
    padding-top: 2em;
}

.actionButtons {
    margin-top: 2em;
}

.disabled {
    background: #ccc;
}

.error {
    display: block;
}

#global {
    clear: both;
}
